.container {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 720px;
    height:720px;
    
}
.box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;

}
.gridrow {
    display: flex;
    flex-direction: row;
    gap: 0;
    min-width: 0;
    min-height: 0;
   flex-grow: 1;
   padding: 0;
 
  
  
  
}

/*flex auto is what fills up the container and prevent the flex items from going overboard*/

.griditem {
    background-color: white;
    display: flex;
    flex:auto;
    
    border: 0.5px solid black;
}






body {
    background-color: #828E91;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
}

